:root{

}

.player-team-title{
    font-size: 1.25rem;
    color: var(--gray-dark);
    font-weight: 600;   
}

.list-player-card{
    border: 0.5px solid transparent;
    text-decoration: none;
    outline: none !important;
}

.list-player-card:hover{
    border: 0.5px solid var(--iq-light);
    transition: .25s all ease-in-out;
    background-color: var(--light);
}

.list-player-image{

    border: 1px solid #dee2e6;
    background-color: var(--light);
    object-fit: fill;
    border-radius: 100%;
}

.list-player-name{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--gray-dark);
}

.list-player-8rem{
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.5;
}



.player-team-heading{
    color: var(--gray-dark);
    font-weight: 500;
    font-size: 1rem;
}

.player-filter-container {
    column-gap: .5rem;
}

.player-search-box{
    border-radius: 15px;
}

.player-select-filter-label{
    font-size: .8rem;
    font-weight: 500;
    color: var(--gray-dark);
}
