:root{

}


.stats-player-card{

}

.stats-player-base-container > div, .stats-player-base-container > span{
    line-height: 1.5;
}

.stats-player-name{
    font-size: .9rem;
    font-weight: 700;
    color: var(--gray-dark);
}

.stats-points-number{

    font-size: 1.25rem;
    color: var(--iq-dark);
    font-weight: 800;
}

.stats-player-image{
    border: 1px solid #dee2e6;
    background-color: var(--light);
    object-fit: fill;
    border-radius: 100%;
}


.stats-team-card{

}

.stats-team-base-container > div, .stats-team-base-container > span{
    line-height: 1.5;
}

.stats-team-name{
    font-size: .9rem;
    font-weight: 700;
    color: var(--gray-dark);
}

.stats-team-image{
    filter: drop-shadow(0px 0px 0px black);
    /* border: 1px solid #dee2e6; */
    /* background-color: var(--light);
    object-fit: fill; */
    /* border-radius: 100%; */
}